{% extends "common.html" %}
{% load static %}

{% block title %}
Admindash
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}


{% block content %}

<div class="dashboard">

    {% comment %} form of card detail enter  {% endcomment %}
    <form action="{% url 'admindash'%}" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <label for="Item_name">Item_name:</label>
        <input type="text" name="Item_name" placeholder="Enter your Item_name">
        <br>

        <label for="Description">Description:</label>
        <input type="text" name="Description" placeholder="Enter Description">
        <br>

        <label for="Price">Price:</label>
        <input type="number" name="Price" placeholder="Enter Price">
        <br>

        <label for="Quantity">Quantity:</label>
        <input type="number" name="Quantity" placeholder="Enter Quantity">
        <br>
        
        <input type="submit" value="Submit">

      </form>
</div>


{% endblock %}
