{% extends "common.html" %}
{% block content %}
<h1>DashBoard Page</h1>
<h1>Username={{userdata.stu_name}}</h1>
<h1>Email={{userdata.stu_email}}</h1>
<h1>Detail={{userdata.stu_dis}}</h1>
<h1>Contact={{userdata.stu_contact}}</h1>
<h1>DOB={{userdata.stu_dob}}</h1>
<h1>Qualification={{userdata.stu_quali}}</h1>
<h1>Gender={{userdata.stu_gender}}</h1>
<h1>Image={{userdata.stu_image}}</h1>
<h1>Document={{userdata.stu_document}}</h1>
<h1>Password={{userdata.stu_password}}</h1>
<h1>ID={{userdata.id}}</h1>
{% endblock %}