.navbar{
    background-color: aqua;
}
.new{
    background-color: aqua;
    font-size: 24px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    background-color: red;
    z-index: 1000;
    font-size: 30px;
    
}
#active{
    color: brown;
}
.navbar-light{
    background-color: red;
}