/* navbar section  */

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgb(0, 0, 0,0.925);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
