
<!DOCTYPE html>
<html lang="en">
<head>
    <title>dashboard</title>
</head>
<body>
<h1>All Students Data</h1>
    {% if data %}
    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for student in data %}
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.city}}</td>
            <td><a href="{% url 'edit' student.id %}">Edit</a></td>
            <td><a href="{% url 'delete' student.id %}">Delete</a></td>
        </tr>
        
        {% endfor %}
    </table>
    
    {% else %}
    <h1>data is not available</h1>
    {% endif %}
</body>
</html>