{% extends "common.html" %}

{% block title %}
Book_room
{% endblock  %}

{% block css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/book_room.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">


{% endblock %}

{% block content %}
<!-- Book Room Hero Section -->
<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1 class="hero-heading">Discover Comfort,<br> Discover RoomRoot</h1>
        <p class="hero-subheading">Where every stay feels like home.</p>
    </div>
</section>

<!-- sections second  -->

<div class="section">
  
  <!-- Card 1 -->
  <div class="card">
    <div class="text">
      <h2>Suite Room</h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      <div class="price-part">
        <div class="price">$450 / NIGHT</div>
        <button>BOOK NOW</button>
      </div>
      
    </div>
    <div class="image">
      <img src="/static/image/rooms/rooms.jpg" alt="Suite Room">
    </div>
  </div>

  <!-- Card 2 (alternate layout) -->
  <div class="card alt">
    <div class="image">
      <img src="/static/image/rooms/room-2.jpg" alt="Family Room">
    </div>
    <div class="text">
      <h2>Family Room</h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      <div class="price">$450 / NIGHT</div>
      <button>BOOK NOW</button>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="card">
    <div class="text">
      <h2>Deluxe Room</h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      <div class="price">$450 / NIGHT</div>
      <button>BOOK NOW</button>
    </div>
    <div class="image">
      <img src="/static/image/rooms/room-3.jpg" alt="Deluxe Room">
    </div>
  </div>

</div>






{% endblock  %}